.body {
  background-color: #a4985b;
  
}
.container1 {
  background-image: url('vietnam.jpg');
  background-size: 400px 300px;;
  background-repeat: repeat;
  position: sticky;
  margin: 0; 
  padding: 0; 
}

nav{
  position: sticky;
  top: 0;
}

h1,
p,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white; 
}

.h1 {
  background-color: #00ff62;
  padding: 20px;
  border: 2px solid #00ff62;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.picture {
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
  width: 120px;
}

a {
  text-align: center;
}

body {
  background-image: url('camobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: sticky;
  margin: 0; 
  padding: 0; 
}

.container {
  position: relative; 
  text-align: center;
}

.container nav {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.container nav a {
  margin: 0 10px; 
}